/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;
body{
  background: black;
}
.cbu-parent{
  background: linear-gradient(to bottom, #3db4c9 0%, #3d8ac9 100%);
}
.cbu-parent h1,
.cbu-parent h2,
.cbu-parent h3,
.cbu-parent p{
  color: white;
}
.cta{
  border: 1px solid white;
  border-radius: 100px;
  color: white;
}
.buttons{
  opacity: 0;
  top: 50px;
  animation: showButtons 1s forwards ease;
  animation-delay: 2s;
}

@keyframes showButtons {
  0%{
    opacity: 0;
    top: 50px;
  }
  100%{
    top: 0;
    opacity: 1;
  }
}

.cursor-icon{
  right: 0;
  opacity: 0;
  bottom: 5%;
  transform: scale(1);
  animation: cursorAnimation 2s forwards;
  animation-delay: 5s;
}

@keyframes cursorAnimation {
  0%{
    right: 0;
    opacity: 0;
    transform: scale(1);
  }
  25%{
    right: 10%;
    opacity: 1;
    transform: scale(1);
  }
  50%{
    transform: scale(1.3);
  }
  75%{
    right: 10%;
    opacity: 1;
    transform: scale(1);
  }
  90%{
    opacity: 1;
  }
  100%{
    right: 10%;
    opacity: 0;
  }
}


.main-cta{
  background: white;
  color: #3d8ac9;
}

.video-arrow{
  position: relative;
  top: 1rem;
  /* visibility: hidden; */
}
.video-iframe{
  background: url('../img/thumbnail.png') center center;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  width: 100%;
}
.video-iframe iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.left-arrow{
  transform: rotate(35deg);
  left: 0;
  animation: arrowPulseLeft 1s ease infinite;
}
.right-arrow{
  transform: scaleX(-1) rotate(35deg);
  right: 0;
  animation: arrowPulseRight 1s ease infinite;
}
@media(min-width: 1024px){
  .video-arrow{
    visibility: visible;
  }
  .video-iframe{
    /* width: 560px; */
  }
}
@keyframes arrowPulseLeft {
  0%{
    left: 0rem;
    top: 1rem;
  }
  50%{
    left: -.5rem;
    top: .5rem;
  }
  100%{
    left: 0rem;
    top: 1rem;
  }
}

@keyframes arrowPulseRight {
  0%{
    right: 0rem;
    top: 1rem;
  }
  50%{
    right: -.5rem;
    top: .5rem;
  }
  100%{
    right: 0rem;
    top: 1rem;
  }
}

.justin-atlan{
  background-image: url('../img/justin_atlan.png');
}
.book-cover{
  background-image: url('../img/7-steps-passion@2x.png');
}

.traffic-tracker{
  background: white;
  position: fixed;
  bottom: -100%;
  opacity: 0;
  left: 0;
  width: 100%;
  animation: 10s showTrafficTrackerMobile forwards;
  animation-delay: 4s;
}
.traffic-tracker p{
  color: black;
}

@media(min-width: 728px){
  .traffic-tracker{
    border-radius: 100px;
    bottom: 1rem;
    right: -100%;
    left: initial;
    opacity: 0;
    width: 20rem;
    animation-delay: 4s;
    animation: 10s showTrafficTracker forwards;
  }
}

@keyframes showTrafficTrackerMobile{
  0%{
    bottom: -100%;
    opacity: 0;
  }
  5%{
    bottom: 0;
    opacity: 1;
  }
  95%{
    opacity: 1;
  }
  100%{
    bottom: 0;
    opacity: 0;
  }
}

@keyframes showTrafficTracker{
  0%{
    right: -100%;
    opacity: 0;
  }
  5%{
    right: 1.3rem;
    opacity: 1
  }
  6%{
    right: 1rem;
    opacity: 1;
  }
  95%{
    opacity: 1;
    right: 1rem;
  }
  100%{
    right: 1rem;
    opacity: 0;
  }
}
